/* Mask component */
.container{
  position: relative;
  height: 180vh;
}

.stickyMask{
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  mask-image: url('/assets/logo/vx-blanco.svg');
  /* mask-position: 43.35% 50%; */
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  mask-size: 100%;
  margin-top: -40px;
}

.stickyMask video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}